@import './fontStyle.css';
@import './designSystem.css';
@import './baseStyle.css';

@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin 'tailwind-scrollbar-hide';
@plugin 'tailwind-scrollbar';
